node_modules
.next
out
build
dist

# env
.env
.env.local
.env*.local

# prisma (sqlite local)
prisma/dev.db
prisma/dev.db-journal
*.db

# schema de produção gerado automaticamente no build
prisma/schema.prod.prisma

# logs / os
*.log
.DS_Store
.vscode
